<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>CHOOSE IELTS</title>
</head>
<body>

    <div class="navbar">
        <img src="./img/fourskill_logo_png_02.png" />
    
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
    </div>

    <nav class="mobile-nav">
        <ul class="main-menu">
            <li><a href="#">Ielts reading 1</a></li>
            <li><a href="#">Ielts reading 2</a></li>
            <li><a href="#">Ielts reading 3</a></li>
            <li><a href="#">Ielts reading 4</a></li>
            <li><a href="#">Ielts reading 5</a></li>
            <li><a href="#">Ielts reading 6</a></li>
            <li><a href="#">Ielts reading 7</a></li>
            <li><a href="#">Ielts reading 8</a></li>
            <li><a href="#">Ielts reading 9</a></li>
            <li><a href="#">Ielts reading 10</a></li>
          </ul>
    </nav>
    
    <script src="./js/app.js"></script>
</body>
</html>