<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
    <title>CHOOSE IELTS</title>
</head>
<body>

    <!--counter controlles-->

    <div class="time_controller">

        <a class="time_controller_icon_stop">
            <i class="fa fa-stop fa-2x " area-hidden="true"></i>
        </a>

        
        <a class="time_controller_icon_play">
            <i class="fa fa-play fa-2x " area-hidden="true"></i>
        </a>

        <a class="time_controller_icon_pause" >
            <i class="fa fa-refresh fa-2x " area-hidden="true"></i>
        </a>


    </div>

    <div class="navbar">
        <img src="./img/fourskill_logo_png_02.png" />
    
        <div style="display: flex; align-items: center;margin-right: 40px;">
            <img src="./img/clock_copy.png" style="width:50px"/>
            <h1 id="time" style="margin-left: 5px;color:rgb(124, 124, 167)"></h1>
        </div>
        

        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
    </div>

    <nav class="mobile-nav">
        <ul class="main-menu">
            <li>Ielts reading 1</li>
            <li>Ielts reading 2</li>
            <li>Ielts reading 3</li>
            <li>Ielts reading 4</li>
            <li>Ielts reading 5</li>
            <li>Ielts reading 6</li>
            <li>Ielts reading 7</li>
            <li>Ielts reading 8</li>
            <li>Ielts reading 9</li>
            <li>Ielts reading 10</li>
          </ul>
    </nav>


    <div class="start_test">
        <div  id="img_container" >
            <img src="./img/fourskill_logo_png_02.png" id="img_container_image"/>
          </div> 
          <section id="section_main_page">
            <div id="section_main_page_heading">
              <button id="section_main_page_heading_button">START TEST</button>
            </div>  
          </section>
    </div>

    <!--READING PASSAGE 1-->

   <div class="content content_left">
        <div  id="img_container" >
            <img src="./img/reading01.png" id="img_container_image"/>
          </div> 
          <section id="section_main_page">
            <div id="section_main_page_heading">
              <button id="section_main_page_heading_button">START TEST</button>
            </div>  
          </section>
    </div>

    <div class="content">
        <div style="display: flex; width:100%; height: 100%;">
            <div class="left_side" >
                Academic Reading - section 1 practice test
You should spend about 20 minutes on Questions 1–13, which are based on Reading Passage 1 below.

Electroreception

A   Open your eyes in sea water and it is difficult to see much more than a murky, bleary green colour. Sounds, too, are garbled and difficult to comprehend. Without specialised equipment humans would be lost in these deep sea habitats, so how do fish make it seem so easy? Much of this is due to a biological phenomenon known as electroreception – the ability to perceive and act upon electrical stimuli as part of the overall senses. This ability is only found in aquatic or amphibious species because water is an efficient conductor of electricity.

B   Electroreception comes in two variants. While all animals (including humans) generate electric signals, because they are emitted by the nervous system, some animals have the ability – known as passive electroreception – to receive and decode electric signals generated by other animals in order to sense their location. 

C   Other creatures can go further still, however. Animals with active electroreception possess bodily organs that generate special electric signals on cue. These can be used for mating signals and territorial displays as well as locating objects in the water. Active electroreceptors can differentiate between the various resistances that their electrical currents encounter. This can help them identify whether another creature is prey, predator or something that is best left alone. Active electroreception has a range of about one body length – usually just enough to give its host time to get out of the way or go in for the kill.

D   One fascinating use of active electroreception – known as the Jamming Avoidance Response mechanism – has been observed between members of some species known as the weakly electric fish. When two such electric fish meet in the ocean using the same frequency, each fish will then shift the frequency of its discharge so that they are transmitting on different frequencies. Doing so prevents their electroreception faculties from becoming jammed. Long before citizens’ band radio users first had to yell “Get off my frequency!” at hapless novices cluttering the air waves, at least one species had found a way to peacefully and quickly resolve this type of dispute. 

E   Electroreception can also play an important role in animal defences. Rays are one such example. Young ray embryos develop inside egg cases that are attached to the sea bed. The embryos keep their tails in constant motion so as to pump water and allow them to breathe through the egg’s casing. If the embryo’s electroreceptors detect the presence of a predatory fish in the vicinity, however, the embryo stops moving (and in so doing ceases transmitting electric currents) until the fish has moved on. Because marine life of various types is often travelling past, the embryo has evolved only to react to signals that are characteristic of the respiratory movements of potential predators such as sharks.

F   Many people fear swimming in the ocean because of sharks. In some respects, this concern is well grounded – humans are poorly equipped when it comes to electroreceptive defence mechanisms.  Sharks, meanwhile, hunt with extraordinary precision. They initially lock onto their prey through a keen sense of smell (two thirds of a shark’s brain is devoted entirely to its olfactory organs). As the shark reaches proximity to its prey, it tunes into electric signals that ensure a precise strike on its target; this sense is so strong that the shark even attacks blind by letting its eyes recede for protection. 

G   Normally, when humans are attacked it is purely by accident. Since sharks cannot detect from electroreception whether or not something will satisfy their tastes, they tend to “try before they buy”, taking one or two bites and then assessing the results (our sinewy muscle does not compare well with plumper, softer prey such as seals). Repeat attacks are highly likely once a human is bleeding, however; the force of the electric field is heightened by salt in the blood which creates the perfect setting for a feeding frenzy.  In areas where shark attacks on humans are likely to occur, scientists are exploring ways to create artificial electroreceptors that would disorient the sharks and repel them from swimming beaches.  

H   There is much that we do not yet know concerning how electroreception functions. Although researchers have documented how electroreception alters hunting, defence and communication systems through observation, the exact neurological processes that encode and decode this information are unclear. Scientists are also exploring the role electroreception plays in navigation. Some have proposed that salt water and magnetic fields from the Earth’s core may interact to form electrical currents that sharks use for migratory purposes.
            </div>

            <div class="right_side" >
                Questions 1–6
                Reading Passage 1 has eight paragraphs, A–H.
                
                Which paragraph contains the following information?
                
                Write the correct letter, A–H, in boxes 1–6 on your answer sheet.
                
                1. how electroreception can be used to help fish reproduce
                
                2. a possible use for electroreception that will benefit humans
                
                3. the term for the capacity which enables an animal to pick up but not send out electrical signals
                
                4. why only creatures that live in or near water have electroreceptive abilities
                
                5. how electroreception might help creatures find their way over long distances
                
                6. a description of how some fish can avoid disrupting each other’s electric signals
                
                Questions 7–9
                Label the diagram.
                
                Choose NO MORE THAN TWO WORDS from the passage for each answer.
                
                Write your answers in boxes 7–9 on your answer sheet.
                
                Choose the correct letter, A, B, C or D.
                
                Shark’s 7 ………………… alert the young ray to its presence
                
                Embryo moves its 8 ………………… in order to breathe
                
                Embryo stops sending 9 ………………… when predator close by
                
                AC Reading section 1 diagram
                Questions 10–13
                Complete the summary below.
                
                Choose NO MORE THAN THREE words from the passage for each answer.
                
                Write your answers in boxes 10–13 on your answer sheet.
                
                Shark Attack
                
                A shark is a very effective hunter. Firstly, it uses its 10 ……………….. to smell its target. When the shark gets close, it uses 11 ……………….. to guide it toward an accurate attack. Within the final few feet the shark rolls its eyes back into its head. Humans are not popular food sources for most sharks due to their 12 ………………...  Nevertheless, once a shark has bitten a human, a repeat attack is highly possible as salt from the blood increases the intensity of the 13 ………………... 
                
                Remember, you have 60 minutes to complete the Reading test! You should spend about 20 minutes on each of the three sections.
                
                You have completed the first section of your Reading test. Now move on to Reading passage 2. 
            </div>
        </div>
    </div>


    
    <script src="./js/app.js"></script>
</body>
</html>