<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>CHOOSE IELTS</title>
</head>
<body>

    
    <div  id="img_container" >
        <img src="./img/IELTS logo.png" id="img_container_image"/>
    </div>


    <section id="section_main_page">
        <a href=""><button id="section_main_page_button">ACADEMIC</button></a>
        <a href=""><button id="section_main_page_button">GENERAL</button></a>
        <a href="../../index2.html"><button id="section_main_page_button_home">HOME</button></a>
    </section>

</body>
</html>